/* 29em == 304px */

@media only screen and (max-width: 29em) {
  body {
    padding: 1.6rem 0;
  }

  main {
    padding: 0 2.4rem;
  }

  .title-form {
    flex-direction: column;
    align-items: stretch;
  }

  #user-email,
  #user-submit {
    max-width: 100%;
    width: auto;
    padding: 1rem 1.2rem;
  }

  #user-email {
    font-size: 2rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}
